demo/inputs/Demo_accomp_lengths.csv
demo/inputs/Demo_accomp_test.pptx
demo/inputs/Demo_name_lengths.csv
demo/inputs/Demo_name_test.pptx
demo/inputs/Demo_quote_heights.csv
demo/inputs/Demo_quote_test.pptx
demo/inputs/Demo.pptx
images
recordings